<ul class="list-group">
  <li [class]="getAllColorClass()" routerLink="/cars">Tüm Renkler</li>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.id}}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul>

<!-- <div class="alert alert-success" role="alert" style="text-align: center;">
    COLORS
  </div>
<table class="table">
    <thead>
        <tr>
          <th>ID</th>
          <th>Color Name</th>
        </tr>
      </thead>
    <tr *ngFor="let color of colors">
        <td>{{color.id}}</td>
        <td>{{color.colorName}}</td>
</table> -->
